<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename= 'practise.js') }}" defer></script>
    <title>Javascript Exec() </title>

</head>
<body>
    <h1 class="btn btn-primary mt-5" onclick="ifelsestatement()">If else statement</h1>
    <h1 class="btn btn-primary mt-5" onclick="switchstatement()">Switch statement</h1>
    <h1 class="btn btn-primary mt-5" onclick="loops()">Loops</h1>
    <h1 class="btn btn-primary mt-5" onclick="cookietab()">Cookie</h1>
    <h1 class="container m-5 text-primary-emphasis" id="tab"></h1>
</body>
</html>